@model CarCreateViewModel

@{
    ViewData["Title"] = "Create";
}
<div class="d-inline-flex">
    <h4>Create Car Record</h4>
    <div class="ml-2 mr-1">
        <a asp-action="index">Back to list</a>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarName" class="control-label"></label>
                <input asp-for="CarName" class="form-control" />
                <span asp-validation-for="CarName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control"
                        asp-items="Html.GetEnumSelectList<Category>()">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="VIN" class="control-label"></label>
                    <input asp-for="VIN" class="form-control" />
                    <span asp-validation-for="VIN" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="CarDescription" class="control-label"></label>
                    <input asp-for="CarDescription" class="form-control" />
                    <span asp-validation-for="CarDescription" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <div>
                    <input asp-for="Photo" class="form-control custom-file-input" />
                    <label class="custom-file-label">Choose File...</label>
                </div>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Book" class="btn btn-primary" />
            </div>
            @section Scripts{ 
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-input').html(fileName);
                        });
                    })
                </script>
            }
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
